extends layout

block content
  .roulette-header
    img(src='images/r_logo.png', width='300px' onload='startPolling()')
    .userandbalance
      h1(style='color:white') Welcome #{username}!
      h2(style='color:white; display:inline-block') YOUR BALANCE IS $
      h2(style='color:white; display:inline-block', id="balanceupdating") #{balance}
  .roulette-second-header
    .alertupdate
      input#alertupdates(type='text', value='')
    span#player-timer()
    a(href='addcredit')
      input(type='button', value='Add credit')
    a(href='gamelobby')
      input(type='button', value='Back')
  .background-gameroom
    img.image-roulette(src='images/rou.png')
    img.image-roulette-spin(src='images/rou.png')
    .tableroulette
      table
        tr.nums
          td.num.green.zero(rowspan='3')
            span 0
          td.num.red
            span 3
          td.num.black
            span 6
          td.num.red
            span 9
          td.num.red
            span 12
          td.num.black
            span 15
          td.num.red
            span 18
          td.num.red
            span 21
          td.num.black
            span 24
          td.num.red
            span 27
          td.num.red
            span 30
          td.num.black
            span 33
          td.num.red
            span 36
          td.sector(data-sector='1')
            span.vt 2 to 1
        tr.nums
          td.hidden
          td.num.black
            span 2
          td.num.red
            span 5
          td.num.black
            span 8
          td.num.black
            span 11
          td.num.red
            span 14
          td.num.black
            span 17
          td.num.black
            span 20
          td.num.red
            span 23
          td.num.black
            span 26
          td.num.black
            span 29
          td.num.red
            span 32
          td.num.black
            span 35
          td.sector(data-sector='2')
            span.vt 2 to 1
        tr.nums
          td.hidden
          td.num.red
            span 1
          td.num.black
            span 4
          td.num.red
            span 7
          td.num.black
            span 10
          td.num.black
            span 13
          td.num.red
            span 16
          td.num.red
            span 19
          td.num.black
            span 22
          td.num.red
            span 25
          td.num.black
            span 28
          td.num.black
            span 31
          td.num.red
            span 34
          td.sector(data-sector='3')
            span.vt 2 to 1
        tr
          td.empty
          td.sector(colspan='4', data-sector='4') 1st 12
          td.sector(colspan='4', data-sector='5') 2nd 12
          td.sector(colspan='4', data-sector='6') 3rd 12
          td.empty
        tr
          td.empty
          td.sector(colspan='2', data-sector='7') 1 to 18
          td.sector(colspan='2', data-sector='8') EVEN
          td.sector.red(colspan='2', data-sector='9') RED
          td.sector.black(colspan='2', data-sector='10') BLACK
          td.sector(colspan='2', data-sector='11') ODD
          td.sector(colspan='2', data-sector='12') 19 to 36
          td.empty
      .controlls
        .btn.btn-zero(data-num='0', onclick='openBettingModal(0)')
        // col6
        .col1
          .row1
            .btn.v.rm.cv(data-num='0,3')
            .btn.m.rm.cm(data-num='3', onclick='openBettingModal(3)')
          .row2
            .btn.c.rh.cv(data-num='0,2,3')
            .btn.v.rm.cv(data-num='0,2')
            .btn.h.rh.cm(data-num='2,3')
            .btn.m.rm.cm(data-num='2', onclick='openBettingModal(2)')
          .row3
            .btn.c.rh.cv(data-num='0,1,2')
            .btn.v.rm.cv(data-num='0,1')
            .btn.c.rb.cv(data-num='0,1,2,3')
            .btn.h.rh.cm(data-num='1,2')
            .btn.m.rm.cm(data-num='1', onclick='openBettingModal(1)')
            .btn.h.rb.cm(data-num='1,2,3')
          .row4
            .btn.ms4.rm.cm(data-type='sector', data-sector='4', onclick='openBettingModal(112)')
          .row5
            .btn.ms2.rm.cm(data-type='sector', data-sector='7', onclick='openBettingModal(118)')
        // col2
        .col2
          .row1
            .btn.v.rm.cv(data-num='3,6')
            .btn.m.rm.cm(data-num='6', onclick='openBettingModal(6)')
          .row2
            .btn.c.rh.cv(data-num='2,3,5,6')
            .btn.v.rm.cv(data-num='2,5')
            .btn.h.rh.cm(data-num='5,6')
            .btn.m.rm.cm(data-num='5', onclick='openBettingModal(5)')
          .row3
            .btn.c.rh.cv(data-num='1,2,4,5')
            .btn.v.rm.cv(data-num='1,4')
            .btn.c.rb.cv(data-num='1,2,3,4,5,6')
            .btn.h.rh.cm(data-num='4,5')
            .btn.m.rm.cm(data-num='4', onclick='openBettingModal(4)')
            .btn.h.rb.cm(data-num='4,5,6')
        // col3
        .col3
          .row1
            .btn.v.rm.cv(data-num='6,9')
            .btn.m.rm.cm(data-num='9', onclick='openBettingModal(9)')
          .row2
            .btn.c.rh.cv(data-num='5,6,8,9')
            .btn.v.rm.cv(data-num='5,8')
            .btn.h.rh.cm(data-num='8,9')
            .btn.m.rm.cm(data-num='8', onclick='openBettingModal(8)')
          .row3
            .btn.c.rh.cv(data-num='4,5,7,8')
            .btn.v.rm.cv(data-num='4,7')
            .btn.c.rb.cv(data-num='4,5,6,7,8,9')
            .btn.h.rh.cm(data-num='7,8')
            .btn.m.rm.cm(data-num='7', onclick='openBettingModal(7)')
            .btn.h.rb.cm(data-num='7,8,9')
          .row5
            .btn.ms2.rm.cm(data-type='sector', data-sector='8', onclick='openBettingModal(88)')
        // col4
        .col4
          .row1
            .btn.v.rm.cv(data-num='9,12')
            .btn.m.rm.cm(data-num='12', onclick='openBettingModal(12)')
          .row2
            .btn.c.rh.cv(data-num='8,9,11,12')
            .btn.v.rm.cv(data-num='8,11')
            .btn.h.rh.cm(data-num='11,12')
            .btn.m.rm.cm(data-num='11', onclick='openBettingModal(11)')
          .row3
            .btn.c.rh.cv(data-num='7,8,10,11')
            .btn.v.rm.cv(data-num='7,10')
            .btn.c.rb.cv(data-num='7,8,9,10,11,12')
            .btn.h.rh.cm(data-num='10,11')
            .btn.m.rm.cm(data-num='10', onclick='openBettingModal(10)')
            .btn.h.rb.cm(data-num='10,11,12')
        // col5
        .col5
          .row1
            .btn.v.rm.cv(data-num='12,15')
            .btn.m.rm.cm(data-num='15', onclick='openBettingModal(15)')
          .row2
            .btn.c.rh.cv(data-num='11,12,14,15')
            .btn.v.rm.cv(data-num='11,14')
            .btn.h.rh.cm(data-num='14,15')
            .btn.m.rm.cm(data-num='14', onclick='openBettingModal(14)')
          .row3
            .btn.c.rh.cv(data-num='10,11,13,14')
            .btn.v.rm.cv(data-num='10,13')
            .btn.c.rb.cv(data-num='10,11,12,13,14,15')
            .btn.h.rh.cm(data-num='13,14')
            .btn.m.rm.cm(data-num='13', onclick='openBettingModal(13)')
            .btn.h.rb.cm(data-num='13,14,15')
          .row4
            .btn.ms4.rm.cm(data-type='sector', data-sector='5', onclick='openBettingModal(212)')
          .row5
            .btn.ms2.rm.cm(data-type='sector', data-sector='9', onclick='openBettingModal(50)')
        // col6
        .col6
          .row1
            .btn.v.rm.cv(data-num='15,18')
            .btn.m.rm.cm(data-num='18', onclick='openBettingModal(18)')
          .row2
            .btn.c.rh.cv(data-num='14,15,17,18')
            .btn.v.rm.cv(data-num='14,17')
            .btn.h.rh.cm(data-num='17,18')
            .btn.m.rm.cm(data-num='17', onclick='openBettingModal(17)')
          .row3
            .btn.c.rh.cv(data-num='13,14,16,17')
            .btn.v.rm.cv(data-num='13,16')
            .btn.c.rb.cv(data-num='13,14,15,16,17,18')
            .btn.h.rh.cm(data-num='16,17')
            .btn.m.rm.cm(data-num='16', onclick='openBettingModal(16)')
            .btn.h.rb.cm(data-num='16,17,18')
        // col7
        .col7
          .row1
            .btn.v.rm.cv(data-num='18,21')
            .btn.m.rm.cm(data-num='21', onclick='openBettingModal(21)')
          .row2
            .btn.c.rh.cv(data-num='17,18,20,21')
            .btn.v.rm.cv(data-num='17,20')
            .btn.h.rh.cm(data-num='20,21')
            .btn.m.rm.cm(data-num='20', onclick='openBettingModal(20)')
          .row3
            .btn.c.rh.cv(data-num='16,17,19,20')
            .btn.v.rm.cv(data-num='16,19')
            .btn.c.rb.cv(data-num='16,17,18,19,20,21')
            .btn.h.rh.cm(data-num='19,20')
            .btn.m.rm.cm(data-num='19', onclick='openBettingModal(19)')
            .btn.h.rb.cm(data-num='19,20,21')
          .row5
            .btn.ms2.rm.cm(data-type='sector', data-sector='10', onclick='openBettingModal(60)')
        // col8
        .col8
          .row1
            .btn.v.rm.cv(data-num='21,24')
            .btn.m.rm.cm(data-num='24', onclick='openBettingModal(24)')
          .row2
            .btn.c.rh.cv(data-num='20,21,23,24')
            .btn.v.rm.cv(data-num='20,23')
            .btn.h.rh.cm(data-num='23,24')
            .btn.m.rm.cm(data-num='23', onclick='openBettingModal(23)')
          .row3
            .btn.c.rh.cv(data-num='19,20,22,23')
            .btn.v.rm.cv(data-num='19,22')
            .btn.c.rb.cv(data-num='19,20,21,22,23,24')
            .btn.h.rh.cm(data-num='22,23')
            .btn.m.rm.cm(data-num='22', onclick='openBettingModal(22)')
            .btn.h.rb.cm(data-num='22,23,24')
        // col9
        .col9
          .row1
            .btn.v.rm.cv(data-num='24,27')
            .btn.m.rm.cm(data-num='27', onclick='openBettingModal(27)')
          .row2
            .btn.c.rh.cv(data-num='23,24,26,27')
            .btn.v.rm.cv(data-num='23,26')
            .btn.h.rh.cm(data-num='26,27')
            .btn.m.rm.cm(data-num='26', onclick='openBettingModal(26)')
          .row3
            .btn.c.rh.cv(data-num='22,23,25,26')
            .btn.v.rm.cv(data-num='22,25')
            .btn.c.rb.cv(data-num='22,23,24,25,26,27')
            .btn.h.rh.cm(data-num='25,26')
            .btn.m.rm.cm(data-num='25', onclick='openBettingModal(25)')
            .btn.h.rb.cm(data-num='25,26,27')
          .row4
            .btn.ms4.rm.cm(data-type='sector', data-sector='6', onclick='openBettingModal(312)')
          .row5
            .btn.ms2.rm.cm(data-type='sector', data-sector='11', onclick='openBettingModal(77)')
        // col10
        .col10
          .row1
            .btn.v.rm.cv(data-num='27,30')
            .btn.m.rm.cm(data-num='30', onclick='openBettingModal(30)')
          .row2
            .btn.c.rh.cv(data-num='26,27,29,30')
            .btn.v.rm.cv(data-num='26,29')
            .btn.h.rh.cm(data-num='29,30')
            .btn.m.rm.cm(data-num='29', onclick='openBettingModal(29)')
          .row3
            .btn.c.rh.cv(data-num='25,26,28,29')
            .btn.v.rm.cv(data-num='25,28')
            .btn.c.rb.cv(data-num='25,26,27,28,29,30')
            .btn.h.rh.cm(data-num='28,29')
            .btn.m.rm.cm(data-num='28', onclick='openBettingModal(28)')
            .btn.h.rb.cm(data-num='28,29,30')
        // col11
        .col11
          .row1
            .btn.v.rm.cv(data-num='30,33')
            .btn.m.rm.cm(data-num='33', onclick='openBettingModal(33)')
          .row2
            .btn.c.rh.cv(data-num='29,30,32,33')
            .btn.v.rm.cv(data-num='29,32')
            .btn.h.rh.cm(data-num='32,33')
            .btn.m.rm.cm(data-num='32', onclick='openBettingModal(32)')
          .row3
            .btn.c.rh.cv(data-num='28,29,31,32')
            .btn.v.rm.cv(data-num='28,31')
            .btn.c.rb.cv(data-num='28,29,30,31,32,33')
            .btn.h.rh.cm(data-num='31,32')
            .btn.m.rm.cm(data-num='31', onclick='openBettingModal(31)')
            .btn.h.rb.cm(data-num='31,32,33')
          .row5
            .btn.ms2.rm.cm(data-type='sector', data-sector='12', onclick='openBettingModal(1936)')
        // col12
        .col12
          .row1
            .btn.v.rm.cv(data-num='33,36')
            .btn.m.rm.cm(data-num='36', onclick='openBettingModal(36)')
          .row2
            .btn.c.rh.cv(data-num='32,33,35,36')
            .btn.v.rm.cv(data-num='32,35')
            .btn.h.rh.cm(data-num='35,36')
            .btn.m.rm.cm(data-num='35', onclick='openBettingModal(35)')
          .row3
            .btn.c.rh.cv(data-num='31,32,34,35')
            .btn.v.rm.cv(data-num='31,34')
            .btn.c.rb.cv(data-num='31,32,33,34,35,36')
            .btn.h.rh.cm(data-num='34,35')
            .btn.m.rm.cm(data-num='34', onclick='openBettingModal(34)')
            .btn.h.rb.cm(data-num='34,35,36')
        // col13
        .col13
          .row1
            .btn.m.rm.cm(data-type='sector', data-sector='1', onclick='openBettingModal(39)')
          .row2
            .btn.m.rm.cm(data-type='sector', data-sector='2', onclick='openBettingModal(38)')
          .row3
            .btn.m.rm.cm(data-type='sector', data-sector='3', onclick='openBettingModal(37)')
  #closed-chat
    header.clearfix
      a.chat-close(href='#', onclick='openchat()') 
      h4 Chat in gameroom
  #live-chat
    header.clearfix
      a.chat-close(href='#', onclick='closechat()') x
      h4 Chat in gameroom
    .chat
      .chat-history
          ul#messages-area
        fieldset
          input#chatSending(type='text', autocomplete='off', placeholder='Type your message…', autofocus='' onkeypress='sendMessageChat(event)')
          input(type='hidden')
  #myModal.modal
    .modal-content
      .modal-header
        span.close(onclick='closeBettingModal()') ×
        h2 Betting amount
      .modal-body
        input#amountbet.username(type='text', name='money_amount', placeholder='$ Money')
        input(type='button', value='Accept', onclick='getBettingQuantity()')

  #winning.modal
    .modal-content
      .modal-winning-header
        h2 Winning Number
      .modal-body
        input#winningNumber(type='button', value='')

  #startturn.modal
    .modal-content
      .modal-turn-header
        h2 Your turn just started! Please start betting. You have 15 seconds.

  #endturn.modal
    .modal-content
      .modal-turn-header
        h2 Your turn ended!

  #disablebettinguser.modal
  
  script.
    var modal = document.getElementById('myModal');
    var modal2 = document.getElementById('winning');
    var modal3 = document.getElementById('startturn');
    var modal4 = document.getElementById('endturn');
    window.onclick = function(event) {
      if (event.target == modal || event.target == modal2 || event.target == modal3 || event.target == modal4) {
        modal.style.display = "none";
        modal2.style.display = "none";
        modal3.style.display = "none";
        //modal4.style.display = "none";
      }
    }
    document.getElementById('player-timer').innerHTML = "00:" + 15;

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
  script(src='//code.jquery.com/jquery-1.11.3.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='script/roulette.js')
  script(src='script/table.js')
  script(src='script/gamelogic.js')
  script.

      var socket = io();
      var place_bets = 0;
      var winning_number = -1;
      var betting_id=-1;
      var amount_bet=-1;

      function sendMessageChat(event) {
        if (event.keyCode == 13) {
          if($('#chatSending').val()!=""){
            var player="#{username}"+": "+$('#chatSending').val();
            socket.emit('new message', player);
            $('#chatSending').val('');
          }
        }
      }

      function getBettingQuantity(){
        var quantity = document.getElementById('amountbet').value;
        var bett = parseInt(#{balance}) - parseInt(quantity);
        if(parseInt(quantity) < 0 || bett < 0){
          quantity = 0;
          document.getElementById('alertupdates').value = "Your amount of money is negative or not valid!";
          //alert("Your amount of money is negative or not valid!");  
        }
        modal.style.display = "none";
        document.getElementById('amountbet').value="";
        amount_bet = quantity;
      }

      function openBettingModal(numberToBet){
        var modal = document.getElementById('myModal');
        modal.style.display = "block";
        betting_id=numberToBet;
      }

      function checkBetting(){
        numberToBet = parseInt(betting_id);
        amountbet = parseInt(amount_bet);
        currentMoney = parseInt(#{balance});
        winningNumber = winning_number;

        if(currentMoney<=0 || currentMoney-amountbet<=0){
          document.getElementById('alertupdates').value = "Sorry, you cannot bet! Please add some credit";
          //alert("Sorry, you cannot bet! Please add some credit");
        }
        else if(numberToBet == -1){
          document.getElementById('alertupdates').value = "You have not bet to any number!!";
          //alert("You have not bet to any number!!");
        }
        else{
          var ii;
          for(ii=0; ii<37; ii++){
            if(numberToBet==ii){
              if(winningNumber==ii){
                currentMoney += amountbet*35;
              }
              else{
                currentMoney -= amountbet;
              }
            }
          }

          switch (numberToBet) {
            case 0:
              if(winningNumber==0){
                currentMoney += amountbet*4;
              }
              else{
                currentMoney -= amountbet;
              }
              break;
            case 50: //red
                if(winningNumber== 1 || winningNumber== 3 || winningNumber== 5 ||
                  winningNumber== 7 || winningNumber== 9 || winningNumber== 12 ||
                  winningNumber== 14 || winningNumber== 16 || winningNumber== 18 ||
                  winningNumber== 19 || winningNumber== 21 || winningNumber== 23 ||
                  winningNumber== 25 || winningNumber== 27 || winningNumber== 30 ||
                  winningNumber== 32 || winningNumber== 34 || winningNumber== 36){
                    currentMoney += amountbet;
                }
                else{
                  currentMoney -= amountbet;
                }
                break;
            case 60://black
                if(winningNumber== 2 || winningNumber== 4 || winningNumber== 6 ||
                  winningNumber== 8 || winningNumber== 10 || winningNumber== 11 ||
                  winningNumber== 13 || winningNumber== 15 || winningNumber== 17 ||
                  winningNumber== 20 || winningNumber== 22 || winningNumber== 24 ||
                  winningNumber== 26 || winningNumber== 28 || winningNumber== 29 ||
                  winningNumber== 31 || winningNumber== 33 || winningNumber== 35){
                    currentMoney += amountbet;
                }
                else{
                  currentMoney -= amountbet;
                }
                break;
            case 77://odd
                if(winningNumber%2!=0){
                  currentMoney += amountbet;
                }
                else{
                  currentMoney -= amountbet;
                }
                break;
            case 88: //even
                if(winningNumber%2==0){
                  currentMoney += amountbet;
                }
                else{
                  currentMoney -= amountbet;
                }
                break;
            case 37://2 to 1
                if(winningNumber== 1 || winningNumber== 4 || winningNumber== 7 ||
                  winningNumber== 10 || winningNumber== 13 || winningNumber== 16 ||
                  winningNumber== 19 || winningNumber== 22 || winningNumber== 25 ||
                  winningNumber== 28 || winningNumber== 31 || winningNumber== 34){
                    currentMoney += amountbet*2;
                }
                else{
                  currentMoney -= amountbet;
                }
                break;
            case 38://2 to 1
                if(winningNumber== 2 || winningNumber== 5 || winningNumber== 8 ||
                  winningNumber== 11 || winningNumber== 14 || winningNumber== 17 ||
                  winningNumber== 20 || winningNumber== 23 || winningNumber== 26 ||
                  winningNumber== 29 || winningNumber== 32 || winningNumber== 35){
                    currentMoney += amountbet*2;
                }
                else{
                  currentMoney -= amountbet;
                }
                break;
            case 39://2 to 1
                if(winningNumber== 3 || winningNumber== 6 || winningNumber== 9 ||
                  winningNumber== 12 || winningNumber== 15 || winningNumber== 18 ||
                  winningNumber== 21 || winningNumber== 24 || winningNumber== 27 ||
                  winningNumber== 30 || winningNumber== 33 || winningNumber== 36){
                    currentMoney += amountbet*2;
                }
                else{
                  currentMoney -= amountbet;
                }
                break;
            case 112://first 12: 1-12
                if(0 < winningNumber && winningNumber < 13){
                  currentMoney += amountbet*2;
                }
                else{
                  currentMoney -= amountbet;
                }
                break;
            case 212://2nd 12: 13-24
                if(12 < winningNumber && winningNumber < 25){
                  currentMoney += amountbet*2;
                }
                else{
                  currentMoney -= amountbet;
                }
                break;
            case 312://3rd 12: 25-36
                if(24 < winningNumber && winningNumber < 37){
                  currentMoney += amountbet*2;
                }
                else{
                  currentMoney -= amountbet;
                }
                break;
            case 118://1-18
                if(0 < winningNumber && winningNumber < 19){
                  currentMoney += amountbet;
                }
                else{
                  currentMoney -= amountbet;
                }
                break;
            case 1936://19-36
                if(18 < winningNumber && winningNumber < 37){
                  currentMoney += amountbet;
                }
                else{
                  currentMoney -= amountbet;
                }
                break;
            default:
                console.log("this shouldn't happen!");
            }
        }

        //update the credit amount of player!!
        //alert("Your new current balance is: "+currentMoney);
        document.getElementById('alertupdates').value = "Your new current balance is: "+currentMoney;
        socket.emit('new balance value', currentMoney, "#{username}");
      }

      socket.on('betting credit', function(bal, user){
          console.log("CREDIT UPDATED FROM THE BETTING RESULTS");
          //location.reload();
          if("#{username}"==user){
            $("#balanceupdating").html(bal);
            //"{#balance}".innerHTML = bal;
          }
      });

      socket.on('chat message', function(msg) {
          console.log("message received");
          $('#messages-area').append($('<li>').text(msg));
      });


      socket.on('current winning number', function(msg) {
          console.log("winning number received received");
          winning_number=msg;
          spinning(winning_number);
      });

      socket.on('gameroom status update', function(value) {            
          place_bets = value;
          if(place_bets == 0) {
              reestartTimer();
              startplayerturn();
          } else if(place_bets == 1) {
              socket.emit('get winning number', winning_number);        
              document.getElementById('alertupdates').value = "Updating the balances...";
          } else if(place_bets == 2) {
                checkBetting();
          }
          console.log("gameroom status update " + value);  
      });